@charset "UTF-8";
/* CSS Document */

html {
  font-size: 62.5%;
  /* 16px * 62.5% = 10px */
  width: 100%;
}

html {
  scroll-snap-type: y proximity;
  scroll-padding-top: 120px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
}

body {
  font-family: "YakuHanJP_Narrow", "Zen Kaku Gothic New", sans-serif;
  color: #37383C;
  background-color: #fcfcfc;
  font-size: 15px;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: inherit;
}

.body-wrapper {
  overflow: hidden;
}




header #header-nav {
  display: none;
}


.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 99;
}

#sp-hamburger {
  background-color: transparent;
  position: absolute;
  top: 1vw;
  right: 1vw;
  height: 2.604166666666667vw;
  width: 4.166666666666666vw;
  z-index: 100;
  transition-duration: 0.6s;
  transition-property: all;
  transition-timing-function: ease;
}

#sp-hamburger.OpacityOn {
  opacity: 0;
}

#sp-hamburger.OpacityOff {
  opacity: 1;
}

#sp-hamburger .icon span {
  position: absolute;
  left: 0.78125vw;
  width: 2.6vw;
  height: 1px;
  background-color: #37383C;
  border-radius: 0.4166666666666667vw;
  transition: ease 0.75s;
}

#sp-hamburger .icon span:nth-of-type(1) {
  top: 0.9375vw;
}

#sp-hamburger .icon span:nth-of-type(2) {
  display: none;
}

#sp-hamburger .icon span:nth-of-type(3) {
  bottom: 0.8333333333333334vw;
}

#sp-hamburger .open span:nth-of-type(1) {
  top: 1.4583333333333333vw;
  transform: rotate(30deg);
  background-color: #9999df;
}

#sp-hamburger .open span:nth-of-type(2) {
  opacity: 0;
}

#sp-hamburger .open span:nth-of-type(3) {
  top: 1.4583333333333333vw;
  transform: rotate(-30deg);
  background-color: #9999df;
}

.sp-nav {
  display: none;
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  width: 13.5vw;
  background: #fcfcfc;
  box-shadow: -0.26041666666666663vw 0.26041666666666663vw 2.0833333vw 0px #dddddd;
  border-radius: 0 0 0 1.5625vw;
  text-align: center;
}

.sp-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 50svh;
  padding-inline: 2.083333333333333vw;
  padding-top: 5vw;
  gap: 1.2vw;
}

.sp-nav li {
  padding: 1.0416666666666665vw;
  padding-top: 0;
  font-size: 0.7vw;
  text-align: center;
  letter-spacing: 0.1rem;
  position: relative;
  width: 100%;
}

.sp-nav a {
  color: #37383C;
  transition: all 0.4s;
}

.sp-nav a:hover {
  color: #9999df;
}

.sp-nav li span {
  content: "";
  color: #9999df;
  font-size: 0.5208333333333333vw;
  font-family: "Albert Sans", sans-serif;
  letter-spacing: 0.15em;
  font-weight: 300;
  position: absolute;
  bottom: 0.2vw;
  left: 50%;
  transform: translateX(-50%);
}

.nav-illust {
  width: 50%;
  position: absolute;
  bottom: 0.5208333333333333vw;
  left: 50%;
  transform: translateX(-50%);
}



@media screen and (max-width: 959px) {

  #sp-hamburger.OpacityOn {
    opacity: 1;
  }

  .nav-illust {
    display: none;
    width: 37.333333333333336vw;
    position: absolute;
    bottom: 2.666666666666667vw;
    right: 2.666666666666667vw;
    left: auto;
    transform: none;
  }

  #sp-hamburger {
    right: 2.666666666666667vw;
    top: 1.3333333333333335vw;
    height: 16vw;
    width: 16vw;
    z-index: 100;
  }

  .sp-nav {
    top: 0;
    right: 0;
    width: 100%;
    background: #F6F8F8;
    box-shadow: none;
    border-radius: 0;
  }

  .sp-nav ul {
    height: 100svh;
    padding: 40px;
    gap: 8vw;
  }

  .sp-nav li {
    padding: 5.333333333333334vw;
    padding-top: 0;
    font-size: 3.733333333333334vw;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  #sp-hamburger .icon span {
    position: absolute;
    left: 4vw;
    width: 8vw;
    height: 1px;
    background-color: #37383C;
    border-radius: 2.1333333333333333vw;
    transition: ease 0.75s;
  }

  #sp-hamburger .icon span:nth-of-type(1) {
    top: 6.666666666666667vw;
  }

  #sp-hamburger .icon span:nth-of-type(2) {
    display: none;
  }

  #sp-hamburger .icon span:nth-of-type(3) {
    bottom: 6.666666666666667vw;
  }

  #sp-hamburger .open span:nth-of-type(1) {
    top: 7.466666666666668vw;
    transform: rotate(30deg);
    background-color: #84B5C5;
  }

  #sp-hamburger .open span:nth-of-type(2) {
    opacity: 0;
  }

  #sp-hamburger .open span:nth-of-type(3) {
    top: 7.466666666666668vw;
    transform: rotate(-30deg);
    background-color: #9999df;
  }

  .sp-nav li span {
    content: "";
    color: #9999df;
    font-size: 2.4vw;
    font-family: "Albert Sans", sans-serif;
    letter-spacing: 0.15em;
    font-weight: 300;
    position: absolute;
    bottom: 1.6vw;
    left: 50%;
    transform: translateX(-50%);
  }


}


/* footer */

footer {
  position: relative;
}


.footer__contact {
  text-align: center;
  width: 100%;
  height: 850px;
  padding: 50px 0 0 0;
}

.contact__content-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.contact-illust {
  width: 250px;
}

.contact__thanks-message {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 60px;
}

.contact-text-image {
  width: 880px;
  margin-bottom: 60px;
}

.contact__mail span {
  display: block;
  margin-bottom: 24px;
}

.mail-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  margin: 0 auto;
  padding: 23px 95px 23px 80px;
  border: 1px solid #9999df;
  border-radius: 40px;
  background-color: #fff;
  color: #9999df;
  font-size: 15px;
  font-family: "Albert Sans", sans-serif;
  letter-spacing: 0.12em;
  position: relative;
  transition: all 0.3s;
}

.mail-btn:hover {
  background-color: #9999df;
  color: #fff;
}

.mail-btn::after {
  background: url(../images/common/yazirushi.svg) no-repeat;
  width: 16px;
  height: 16px;
  top: 23px;
  right: 75px;
  content: '';
  position: absolute;

}

.mail-btn:hover::after {
  background: url(../images/common/yazirushi-white.svg) no-repeat;
  width: 16px;
  height: 16px;
  top: 23px;
  right: 75px;
  content: '';
  position: absolute;
}

.footer__content-wrapper {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}

.footer__content-wrapper nav ul li {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.16em;
  font-size: 14px;
}

.footer__content-wrapper nav ul {
  transition: all 0.4s;
}

.footer__list01 {
  margin-right: 36px;
  position: relative;
}

.footer__list01::after {
  content: "/";
  position: absolute;
  top: 0;
  right: -25px;
}

.footer__list01 a:hover,
.footer__list02 a:hover {
  opacity: 0.6;
}

small {
  font-weight: 500;
  letter-spacing: 0.16em;
  font-size: 12px;
}




/* 擬似要素を使ってイラストを追加 */
#page-top::after {
  position: absolute;
  content: "";
  background: url('../images/common/top-btn-illust.png') no-repeat;
  width: 55px;
  height: 104px;
  /* 適切な高さを設定 */
  bottom: -100px;
  /* ボタンの下に配置 */
  left: 47%;
  transform: translateX(-50%);
  background-size: cover;
}

/* リンクを右下に固定 */
#page-top {
  position: fixed;
  right: 70px;
  bottom: 180px;
  z-index: 2;
  /* はじめは非表示 */
  opacity: 0;
  transform: translateY(100px);
}

/* 上に上がる動き */
#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 下に下がる動き */
#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(100px);
  }
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(100px);
  }
}


@media screen and (max-width:767px) {


  #page-top a img {
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    position: relative;
  }

  #page-top::after {
    width: 33px;
    height: 62px;
    left: 48%;
    bottom: -60px;
  }

  #page-top {
    right: 8px;
    bottom: 68px;
  }

  .footer__content-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
  }

}

/* タブレット */
@media screen and (min-width:768px) and (max-width:959px) {


  #page-top {
    right: 20px;
    bottom: 110px;
  }

  .footer__content-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
  }

}

@media screen and (max-width:428px) {

  /* footer */

  .footer__contact {
    background-image: url(../images/common/footer_sp-bg.png);
    height: 480px;
  }

  .contact__thanks-message {
    font-size: 13px;
    margin-bottom: 32px;
  }

  .footer__contact {
    padding-top: 48%;
  }


  .contact-text-image {
    width: 320px;
    margin-bottom: 30px;
  }

  .contact-illust {
    width: 60px;
    top: -72px;
  }

  .contact__mail span {
    font-size: 11.5px;
    margin-bottom: 16px;
  }

  .mail-btn {
    width: 273px;
  }

  .mail-btn {
    width: 274px;
    padding: 14px 24px 14px 10px;
    font-size: 11.5px;
    letter-spacing: 0.12em;
  }

  .mail-btn::after {
    background: url(../images/common/yazirushi.svg) no-repeat;
    width: 12px;
    height: 12px;
    top: 14px;
    right: 36px;
  }

  .mail-btn:hover:after {
    background: url(../images/common/yazirushi-white.svg) no-repeat;
    width: 12px;
    height: 12px;
    top: 14px;
    right: 36px;
  }

  .footer__content-wrapper ul {
    display: none;
  }

  .footer__content-wrapper {
    padding: 13px 0;
    justify-content: center;
  }

  small {
    font-size: 9px;
  }

}

/* タブレットまで */
@media screen and (min-width:429px) and (max-width:767px) {

  /* footer */

  .footer__contact {
    background-image: url(../images/common/footer_sp-bg.png);
    height: 520px;
  }

  .contact__thanks-message {
    font-size: 14px;
    margin-bottom: 32px;
  }

  .footer__contact {
    padding-top: 230px;
  }

  .contact-text-image {
    width: 72vw;
    margin-bottom: 30px;
  }

  .contact-illust {
    width: 75px;
    top: -100px;
  }

  .contact__mail span {
    font-size: 12px;
    margin-bottom: 16px;
  }

  .mail-btn {
    width: 273px;
  }

  .mail-btn {
    width: 274px;
    padding: 14px 24px 14px 10px;
    font-size: 11.5px;
    letter-spacing: 0.12em;
  }

  .mail-btn::after {
    background: url(../images/common/yazirushi.svg) no-repeat;
    width: 12px;
    height: 12px;
    top: 14px;
    right: 36px;
  }

  .mail-btn:hover::after {
    background: url(../images/common/yazirushi-white.svg) no-repeat;
    width: 12px;
    height: 12px;
    top: 14px;
    right: 36px;
  }

  .footer__content-wrapper ul {
    display: none;
  }

  .footer__content-wrapper {
    padding: 13px 0;
    justify-content: center;
  }

  small {
    font-size: 9px;
  }

}

/* タブレット */
@media screen and (min-width:768px) and (max-width:959px) {

  /* footer */

  .footer__contact {
    background-image: url(../images/common/footer_bg.png);
    height: 640px;
  }

  .contact__thanks-message {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .footer__contact {
    padding-top: 100px;
  }

  .contact-text-image {
    width: 72vw;
    margin-bottom: 30px;
  }

  .contact-illust {
    width: 10.986vw;
    top: -120px;
  }

  .contact__mail span {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .mail-btn {
    width: 273px;
  }

  .mail-btn {
    width: 312px;
    padding: 14px 24px 14px 10px;
    font-size: 13px;
    letter-spacing: 0.12em;
  }

  .mail-btn::after {
    background: url(../images/common/yazirushi.svg) no-repeat;
    width: 12px;
    height: 12px;
    top: 14px;
    right: 36px;
  }

  .mail-btn:hover::after {
    background: url(../images/common/yazirushi-white.svg) no-repeat;
    width: 12px;
    height: 12px;
    top: 14px;
    right: 36px;
  }

  .footer__content-wrapper ul {
    display: none;
  }

  .footer__content-wrapper {
    padding: 13px 0;
    justify-content: center;
  }

  small {
    font-size: 11px;
  }
} 



/* fadeUp */

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


